{% extends '/base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <h1>Page {{ program.id }} </h1>
    <div class="media">
        <img
                class="align-self-start mr-3 film-poster"
                src="{{program.poster}}"
                alt="{{ program.title }} poster"
        >
        <div class="media-body">
            <h2
                class="mt-0">{{ program.title }}
                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'program/_delete_form.html.twig' %}
                {% endif %}
            </h2>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path("actor_show", {id: actor.id}) }}">{{ actor.name }}</a> </li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
            <p>
                {% for season in program.seasons %}
                    <a href="{{ path('program_season_show', {programSlug: program.slug, season:season.id}) }}">Saison {{ season.number }}</a>
                {% endfor %}
            </p>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}