<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{  asset('build/favicon/favicon.ico') }}" rel="icon" type="image/png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include './_header.html.twig' %}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}

        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
